/*!*******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/App.scss ***!
  \*******************************************************************************************************/

/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/Create.scss ***!
  \**********************************************************************************************************/
.ui-add-users {
  border: solid 1px rgba(144, 151, 141, 0.21);
  border-radius: 4px;
  margin: 2rem;
  height: 330px;
}
.ui-add-users__head {
  margin: 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(3, 160, 225, 0.2);
  border-radius: 4px;
  justify-content: space-between;
}
.ui-add-users__head__title {
  font-family: Nunito;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 20px;
}
.ui-add-users__head__icon {
  color: #015477;
  margin-right: 2rem;
  padding: 2px 30px;
  border: 2px solid #015477;
  border-radius: 4px;
  background-color: white;
}
.ui-add-users__form {
  border-top: 1px solid lightgray;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.ui-add-users__form__name, .ui-add-users__form__age, .ui-add-users__form__address, .ui-add-users__form__contact, .ui-add-users__form__email {
  height: 5rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}
.ui-add-users__form__name__label, .ui-add-users__form__age__label, .ui-add-users__form__address__label, .ui-add-users__form__contact__label, .ui-add-users__form__email__label {
  font-family: Nunito;
  font-size: 15px;
  margin-bottom: 5px;
}
.ui-add-users__form__name__field, .ui-add-users__form__age__field, .ui-add-users__form__address__field, .ui-add-users__form__contact__field, .ui-add-users__form__email__field {
  text-indent: 5px;
  font-size: 16px;
  width: 392px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 4px;
  outline: none;
}
.ui-add-users__form__name span, .ui-add-users__form__age span, .ui-add-users__form__address span, .ui-add-users__form__contact span, .ui-add-users__form__email span {
  font-family: Nunito;
  color: red;
  opacity: 0.8;
}
.ui-add-users__action__false {
  border: 2px solid #015477;
  font-family: Nunito;
  font-size: 14px;
  padding: 7px 2rem;
  border-radius: 4px;
  background-color: #015477;
  color: white;
  width: fit-content;
  float: right;
  margin-right: 2rem;
  cursor: pointer;
}
.ui-add-users__action__true {
  font-family: Nunito;
  font-size: 14px;
  padding: 7px 2rem;
  border-radius: 4px;
  background-color: lightgray;
  color: #000;
  opacity: 0.5;
  width: fit-content;
  float: right;
  margin-right: 2rem;
  cursor: not-allowed;
}
/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/read.scss ***!
  \********************************************************************************************************/
.ui-user-details {
  border: solid 1px rgba(144, 151, 141, 0.21);
  border-radius: 4px;
  margin: 2rem;
  min-height: 330px;
}
.ui-user-details__noData {
  display: flex;
  justify-content: center;
  margin: 4rem 0px;
}
.ui-user-details__heading {
  margin: 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(3, 160, 225, 0.2);
  border-radius: 4px;
  justify-content: space-between;
}
.ui-user-details__heading__title {
  font-family: Nunito;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 20px;
}
.ui-user-details__heading__action {
  color: #015477;
  margin-right: 2rem;
  padding: 2px 30px;
  border: 2px solid #015477;
  border-radius: 4px;
  background-color: white;
}
.ui-user-details__table {
  border-top: 1px solid lightgray;
}
.ui-user-details__table__columns {
  background-color: rgba(3, 160, 225, 0.2);
  font-family: Nunito;
  margin: 1rem;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px 5px;
  font-weight: bold;
  display: flex;
}
.ui-user-details__table__columns__userId {
  margin-left: 1rem;
}
.ui-user-details__table__columns__userId, .ui-user-details__table__columns__age, .ui-user-details__table__columns__actions {
  width: 150px;
}
.ui-user-details__table__columns__name {
  width: 200px;
}
.ui-user-details__table__columns__email {
  width: 200px;
}
.ui-user-details__table__columns__address {
  width: 200px;
}
.ui-user-details__table__columns__contactNumber {
  width: 200px;
}
.ui-user-details__table__data {
  display: flex;
  font-family: Nunito;
  margin: 1rem;
  font-size: 15px;
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
}
.ui-user-details__table__data__userId {
  margin-left: 1rem;
}
.ui-user-details__table__data__userId, .ui-user-details__table__data__age, .ui-user-details__table__data__actions {
  width: 150px;
}
.ui-user-details__table__data__name {
  word-wrap: break-word;
  width: 200px;
}
.ui-user-details__table__data__email {
  word-wrap: break-word;
  width: 200px;
}
.ui-user-details__table__data__address {
  word-wrap: break-word;
  width: 200px;
}
.ui-user-details__table__data__contactNumber {
  width: 200px;
}
.ui-user-details__table__data__actions {
  display: flex;
  height: 34px;
}
.ui-user-details__table__data__actions__edit {
  margin-right: 1rem;
}
.ui-user-details__table__data__actions__edit, .ui-user-details__table__data__actions__delete {
  background-color: rgba(3, 160, 225, 0.1);
  border-radius: 4px;
  color: #015477;
}
.ui-user-details__table__data__actions__edit svg, .ui-user-details__table__data__actions__delete svg {
  padding: 5px 5px;
}
.ui-user-details__table__data__actions__delete svg {
  cursor: pointer;
}
/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/update.scss ***!
  \**********************************************************************************************************/
.ui-update-user-data {
  border: solid 1px rgba(144, 151, 141, 0.21);
  border-radius: 4px;
  margin: 2rem;
  height: 330px;
}
.ui-update-user-data__title {
  margin: 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(3, 160, 225, 0.2);
  border-radius: 4px;
  justify-content: space-between;
  font-family: Nunito;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 20px;
}
.ui-update-user-data__form {
  border-top: 1px solid lightgray;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.ui-update-user-data__form__name, .ui-update-user-data__form__age, .ui-update-user-data__form__address, .ui-update-user-data__form__contactNumber, .ui-update-user-data__form__email {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}
.ui-update-user-data__form__name__label, .ui-update-user-data__form__age__label, .ui-update-user-data__form__address__label, .ui-update-user-data__form__contactNumber__label, .ui-update-user-data__form__email__label {
  font-family: Nunito;
  font-size: 15px;
  margin-bottom: 5px;
}
.ui-update-user-data__form__name__input, .ui-update-user-data__form__age__input, .ui-update-user-data__form__address__input, .ui-update-user-data__form__contactNumber__input, .ui-update-user-data__form__email__input {
  text-indent: 5px;
  margin-bottom: 1rem;
  font-size: 16px;
  width: 392px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 4px;
  outline: none;
}
.ui-update-user-data__actions {
  display: flex;
  justify-content: flex-end;
}
.ui-update-user-data__actions__update, .ui-update-user-data__actions__back {
  height: 30px;
  width: 50px;
  border: 2px solid #015477;
  border-radius: 4px;
  background-color: #015477;
}
.ui-update-user-data__actions__update svg, .ui-update-user-data__actions__back svg {
  color: white;
}
.ui-update-user-data__actions__update {
  padding: 0px 0.5rem 0px 2rem;
}
.ui-update-user-data__actions__back {
  padding: 0px 0.5rem 0px 2rem;
  margin: 0px 2rem 0px 1rem;
}
